.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.pendientes{
    
    width: 90vw;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
    grid-auto-rows: 12rem;
    gap: 20px;
}